/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
@keyframes like {
    from {
      scale: 1;
    }
    to {
      scale: 1.25;
    }
}
  
@keyframes sparks {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.card__icon-button .core {
    fill: transparent;
    transition: fill var(--time_step) ease 0.03s;
}

.button_heart .main-body {
    fill: transparent;
    transition: fill var(--time_step) ease 0s;
  }

.card__icon-button:hover .core {
    fill: var(--heart-contour-color);
    transition: fill var(--time_step) ease;
}

.card__icon-button:hover .main-body {
    fill: var(--heart-contour-color);
    transition: fill var(--time_step) ease 0.05s;
}

.card__icon-button:active .core {
    fill: var(--heart-sparks-color);
    transition: fill var(--time_step) ease;
}

.card__icon-button:active .main-body {
    fill: var(--heart-sparks-color);
    transition: fill var(--time_step) ease 0.05s;
}

.card__icon-button .is-liked .core {
    fill: var(--heart-sparks-color);
    transition: fill var(--time_step) linear 0s;
}


.card__icon-button .is-liked .main-body {
    fill: var(--heart-sparks-color);
    transition: fill var(--time_step) linear 0.05s;
}

.card__icon-button .is-liked .contour {
    fill: var(--heart-sparks-color);
    transition: fill var(--time_step) linear 0.06s;
}

.card__icon-button .is-liked {
    animation: like  var(--time_step) ease-in 0.1s 1;
    transform-origin: center;
}
  
.card__icon-button .is-liked .sparks {
    animation: sparks var(--time_step) ease-in var(--time_step) 1;
}

.card__icon-button:focus-visible {
    outline-color: black;
    transition:  outline-color var(--time_step) linear;
}
