/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
    font-family: var(--main-font);
    font-variation-settings: "wght" var(--text-weight);
    font-size: var(--font-size);
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main,
.header {
  width: var(--page-width);
}

.header {
  font-family: var(--accent-font);
  font-weight: var(--text-weight);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--color);
  background-color: var(--background-color);
  padding-block: 128px;
 margin: 100px 0 98px;
}


.header_title {
  font-size: var(--header-title-font-size);
  font-weight: var(--text-weight);
  line-height: 100%;
  margin-block-end: 20px;
}

.header_subtitle {
  font-size: var(--header-subtitle-font-size);
}

.main {
  display: grid;
  margin-block-end: 100px;
  justify-items: center;
}

.card_list {
  display: grid;
  gap: 50px;
  width: 100%;
}

.card_item {
  display: grid;
  border: var(--main-border);
  background-color: white;
}

.article {
  outline: 2px solid var(--color);
  width: 100%;
  background-color: white;
  margin-bottom: 52px;
}

.article:last-of-type {
  margin-bottom: 52px;
}

.article_title {
  padding: 5.5px 10px;
  font-variation-settings: "wght" var(--title-weight);
  color: var(--color);
  background-color: var(--background-color);
  font-size: var(--font-size);
}

.article_image_box {
  position: relative;
}

.card_label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-weight: var(--text-weight);
  font-size: var(--font-size-card-label);
  text-shadow: 0 0 1px var(--shadow-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  z-index: 1;
}

.article_info {
  padding: 25px ;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color);
}

.article_text:not(:last-of-type) {
  margin-block-end: 25px;
  max-width: 645px;
}

.article_text:last-of-type {
  margin-block-end: 25px;
  max-width: 645px;
}

.filter_brightness {
  filter: brightness(110%);
}

.filter_opacity {
  filter: opacity(0.9);
}

.filter_hue-rotate {
  filter: hue-rotate(-10deg);
}

.filter_sepia {
  filter: sepia(95%);
}

.filter_invert {
  filter: invert(0.10);
}

.filter_grayscale {
  filter: grayscale(1.0);
}

.filter_blur {
  filter: blur(0.02rem);
}

.filter_multy {
  filter: sepia(1) hue-rotate(264deg) saturate(289%);
}

.sparks {
  opacity: 0;
}

.button_block {
  display: flex;
  align-self: end;
  gap: 7px;
}

.floppy_svg {
  width: 24px;
  height: 24px;
}

.dialog_floppy_svg {
  width: 50px;
  height: 50px;
}

.card__like-button {
 padding: 6.25px 32px;
  align-self: end;
}

.card__icon-button {
  height: 34px;
  display: flex;
  background-color: transparent;
  border: none;
  outline: 2px solid transparent;
  transition: outline 0.3s ease;
  align-self: center;
  padding-inline: 0;
  cursor: pointer;
}

.mix_difference {
  fill: white;
  color: #fff;
  background-color: transparent;
  mix-blend-mode: difference;
}

.decorated_button {
    align-items: center;
    background-color: white;
    border: 2px solid var(--color);
    color: white;
    cursor: pointer;
    font-family: var(--accent-font);
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.3s ease;
}

.save_button {
  width: 340px;
  min-height: 55px;
  gap: 4px;
  display: flex;
}

.decorated_button_text {
    font-size: var(--button-font-size);
    mix-blend-mode: difference;
    margin-right: 5px;
}

.decorated_button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color);
  transition: translate 0.5s ease-in-out;
  translate: -100%;
}

.decorated_button:focus-visible {
  outline: 2px solid var(--color);
}

.decorated_button:focus {
  outline: none;
  box-shadow: 2px 2px 0 1px var(--color);
}

.decorated_button:hover::before {
  translate: 0%;
}


/*
.floppy_dialog {
}*/

.floppy_dialog[open] {
  /*position: fixed;*/
 /* inset: 0;*/
 /* display: flex;*/
  flex-shrink: 0;
  border: var(--main-border);
  padding: 30px;
  inline-size: 354px;
}

.floppy_dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

body:has(.floppy_dialog[open]) {
  overflow: hidden;
}


.dialog_description {
  display: flex;
  align-items: center;
  gap: 18px;
  padding-bottom: 27px;
  padding-top: 5px;
}

.dialog_button {
  inline-size: 100%;
  min-block-size: 38px;
}

.dialog_label {
  align-self: flex-start;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  text-transform: uppercase;
  width: fit-content;
}

.article_image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  max-block-size: 100%;
}

@supports (
  (text-stroke: 1px var(--shadow-color)) or
    (-webkit-text-stroke: 1px var(--shadow-color))) {
  .card_label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--shadow-color);
    text-stroke: 1px var(--shadow-color);
  }
}



@media (width <= 375px) {

  .main,
  .header,
  .footer {
    width: 100%;
  }

  .header {
    margin: 100px 0;
    block-size: 327px;
  }
  
  .main{
    border: 1px solid var(--color);
  }

  .header_title {
    line-height: 49px;
    letter-spacing: normal;
  }

  .article_title{
    padding: 5.5px 10px;
  }

  .article{
    margin-bottom: 49px;
  }

  .card__like-button {
 padding: 6.4px 34px;
  align-self: end;
}

  .article_info {
    padding: 25px;
  }

  .save_button {
    flex-direction: column;
    width: 312px;
    height: 84px;
    margin: 0;
    gap: 4px;
  }

  .floppy_svg {
    width: 32px;
    height: 32px;
  }

  .decorated_button_text {
    margin-right: 2px;
    margin-bottom: 4px;
  }
}